In [23]:
#Load in libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [24]:
#Read in dataset
df = pd.read_csv("survey.csv")
df

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,2014-08-27 11:29:31,37,Female,United States,IL,NaN,No,Yes,Often,6-25,...,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
1,2014-08-27 11:29:37,44,M,United States,IN,NaN,No,No,Rarely,More than 1000,...,Don't know,Maybe,No,No,No,No,No,Don't know,No,NaN
2,2014-08-27 11:29:44,32,Male,Canada,NaN,NaN,No,No,Rarely,6-25,...,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,NaN
3,2014-08-27 11:29:46,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,26-100,...,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,NaN
4,2014-08-27 11:30:22,31,Male,United States,TX,NaN,No,No,Never,100-500,...,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2015-09-12 11:17:21,26,male,United Kingdom,NaN,No,No,Yes,NaN,26-100,...,Somewhat easy,No,No,Some of them,Some of them,No,No,Don't know,No,NaN
1255,2015-09-26 01:07:35,32,Male,United States,IL,No,Yes,Yes,Often,26-100,...,Somewhat difficult,No,No,Some of them,Yes,No,No,Yes,No,NaN
1256,2015-11-07 12:36:58,34,male,United States,CA,No,Yes,Yes,Sometimes,More than 1000,...,Somewhat difficult,Yes,Yes,No,No,No,No,No,No,NaN
1257,2015-11-30 21:25:06,46,f,United States,NC,No,No,No,NaN,100-500,...,Don't know,Yes,No,No,No,No,No,No,No,NaN
1258,2016-02-01 23:04:31,25,Male,United States,IL,No,Yes,Yes,Sometimes,26-100,...,Don't know,Maybe,No,Some of them,No,No,No,Don't know,No,NaN

In [25]:
#gather list of columns
for col_name in df.columns:
    print(col_name)

Timestamp
Age
Gender
Country
state
self_employed
family_history
treatment
work_interfere
no_employees
remote_work
tech_company
benefits
care_options
wellness_program
seek_help
anonymity
leave
mental_health_consequence
phys_health_consequence
coworkers
supervisor
mental_health_interview
phys_health_interview
mental_vs_physical
obs_consequence
comments

```
Looking at the list of columns I know I can remove Timestamp since these reponses were all completed in 2014. I also don't need the column for comments as that will be hard to standardize. I wasn't sure if I felt state was worth looking at, but it might be interesting to see if there are any trends depending on location in the US. 
```

In [26]:
#Remove columns I don't need
df = df.drop(columns = {'Timestamp', 'comments'})

#verify columns have been removed
for col_name in df.columns:
    print(col_name)

Age
Gender
Country
state
self_employed
family_history
treatment
work_interfere
no_employees
remote_work
tech_company
benefits
care_options
wellness_program
seek_help
anonymity
leave
mental_health_consequence
phys_health_consequence
coworkers
supervisor
mental_health_interview
phys_health_interview
mental_vs_physical
obs_consequence

In [27]:
#Need to update values in Gender as there are several different values
#find the unique values
df.Gender.unique()

array(['Female', 'M', 'Male', 'male', 'female', 'm', 'Male-ish', 'maile',
       'Trans-female', 'Cis Female', 'F', 'something kinda male?',
       'Cis Male', 'Woman', 'f', 'Mal', 'Male (CIS)', 'queer/she/they',
       'non-binary', 'Femake', 'woman', 'Make', 'Nah', 'All', 'Enby',
       'fluid', 'Genderqueer', 'Female ', 'Androgyne', 'Agender',
       'cis-female/femme', 'Guy (-ish) ^_^', 'male leaning androgynous',
       'Male ', 'Man', 'Trans woman', 'msle', 'Neuter', 'Female (trans)',
       'queer', 'Female (cis)', 'Mail', 'cis male', 'A little about you',
       'Malr', 'p', 'femail', 'Cis Man',
       'ostensibly male, unsure what that really means'], dtype=object)

```
There are several unique values in Gender. I can safely assume some like 'Mail', 'msle', 'Malr', and some other variations are Male. For Female I will remove the (cis) that are attached to some and just use Female. I will then make sure I have non-binary,trans-female, trans-male, queer, gender-fluid, androgynous, and other. Other will take the place of some of the wordy responses like 'ostensibly male', 'unsure what that really means', and 'neuter'. 
```

In [28]:
#Replacing and consolidating values down to a handful of unique values
df['Gender'].replace('M', 'Male', inplace = True)
df['Gender'].replace('male', 'Male', inplace = True)
df['Gender'].replace('female', 'Female', inplace = True)
df['Gender'].replace('m', 'Male', inplace = True)
df['Gender'].replace('Male-ish', 'Male', inplace = True)
df['Gender'].replace('maile', 'Male', inplace = True)
df['Gender'].replace('Cis Female', 'Female', inplace = True)
df['Gender'].replace('F', 'Female', inplace = True)
df['Gender'].replace('Mal', 'Male', inplace = True)
df['Gender'].replace('something kinda male?', 'Male', inplace = True)
df['Gender'].replace('Cis Male', 'Male', inplace = True)
df['Gender'].replace('Woman', 'Female', inplace = True)
df['Gender'].replace('f', 'Female', inplace = True)
df['Gender'].replace('Mal', 'Male', inplace = True)
df['Gender'].replace('Male (CIS)', 'Male', inplace = True)
df['Gender'].replace('queer/she/they', 'Genderqueer', inplace = True)
df['Gender'].replace('non-binary', 'Non-binary', inplace = True)
df['Gender'].replace('Femake', 'Female', inplace = True)
df['Gender'].replace('woman', 'Female', inplace = True)
df['Gender'].replace('Make', 'Male', inplace = True)
df['Gender'].replace('Nah', 'Other', inplace = True)
df['Gender'].replace('All', 'Other', inplace = True)
df['Gender'].replace('Enby', 'Other', inplace = True)
df['Gender'].replace('fluid', 'Gender-fluid', inplace = True)
df['Gender'].replace('Female ', 'Female', inplace = True)
df['Gender'].replace('Androgyne', 'Androgynous', inplace = True)
df['Gender'].replace('Agender', 'Other', inplace = True)
df['Gender'].replace('cis-female/femme', 'Female', inplace = True)
df['Gender'].replace('Guy (-ish) ^_^', 'Male', inplace = True)
df['Gender'].replace('male leaning androgynous', 'Male', inplace = True)
df['Gender'].replace('Male ', 'Male', inplace = True)
df['Gender'].replace('Man', 'Male', inplace = True)
df['Gender'].replace('Trans woman', 'Trans-female', inplace = True)
df['Gender'].replace('msle', 'Male', inplace = True)
df['Gender'].replace('Neuter', 'Other', inplace = True)
df['Gender'].replace('Female (trans)', 'Trans-female', inplace = True)
df['Gender'].replace('queer', 'Genderqueer', inplace = True)
df['Gender'].replace('Female (cis)', 'Female', inplace = True)
df['Gender'].replace('Mail', 'Male', inplace = True)
df['Gender'].replace('cis male', 'Male', inplace = True)
df['Gender'].replace('A little about you', 'Other', inplace = True)
df['Gender'].replace('Malr', 'Male', inplace = True)
df['Gender'].replace('p', 'Other', inplace = True)
df['Gender'].replace('femail', 'Female', inplace = True)
df['Gender'].replace('Cis Man', 'Male', inplace = True)
df['Gender'].replace('ostensibly male, unsure what that really means', 'Male', inplace = True)

In [29]:
#check the unique values in Gender
df.Gender.unique()

array(['Female', 'Male', 'Trans-female', 'Genderqueer', 'Non-binary',
       'Other', 'Gender-fluid', 'Androgynous'], dtype=object)

```
Now that I've updated the values in Gender, I'm going to create two new columns for age group and number of employees. I want to categorize this so it's easier to evaluate instead of looking at all of the different ages or all of the different employee numbers. For age I need to look for min and max and then I'll set categories from there. As for number of employees, I want to look at unique values and then I can create some standard categories from that.
```

In [30]:
#Need to find min and max for ages
df['Age'].max()

99999999999

In [31]:
df['Age'].min()

-1726

```
Clearly I have some outliers in the age column. I think I'll need to remove anything that would fall outside of 'normal' age ranges. 
```

In [32]:
#Looking at unique values
df.Age.unique()

array([         37,          44,          32,          31,          33,
                35,          39,          42,          23,          29,
                36,          27,          46,          41,          34,
                30,          40,          38,          50,          24,
                18,          28,          26,          22,          19,
                25,          45,          21,         -29,          43,
                56,          60,          54,         329,          55,
       99999999999,          48,          20,          57,          58,
                47,          62,          51,          65,          49,
             -1726,           5,          53,          61,           8,
                11,          -1,          72], dtype=int64)

In [33]:
#Drop anything greater than 72
maxnames = df[df['Age'] > 72].index
df.drop(maxnames, inplace = True)
df.Age.unique()

array([   37,    44,    32,    31,    33,    35,    39,    42,    23,
          29,    36,    27,    46,    41,    34,    30,    40,    38,
          50,    24,    18,    28,    26,    22,    19,    25,    45,
          21,   -29,    43,    56,    60,    54,    55,    48,    20,
          57,    58,    47,    62,    51,    65,    49, -1726,     5,
          53,    61,     8,    11,    -1,    72], dtype=int64)

In [34]:
#Drop anything less than 18
minnames = df[df['Age'] < 18].index
df.drop(minnames, inplace = True)
df.Age.unique()

array([37, 44, 32, 31, 33, 35, 39, 42, 23, 29, 36, 27, 46, 41, 34, 30, 40,
       38, 50, 24, 18, 28, 26, 22, 19, 25, 45, 21, 43, 56, 60, 54, 55, 48,
       20, 57, 58, 47, 62, 51, 65, 49, 53, 61, 72], dtype=int64)

```
Now that I've dropped the outliers I need to come up with age categories that make sense. I think the following should work:
0-20
20-30
30-40
40-60
60-80
```

In [45]:
#Create age groups
df['Age_Groups'] = pd.cut(x = df['Age'], bins = 5, labels = ['0-20','20-30', '30-40','40-60', '60-80'])
df

,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,remote_work,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,Age_Groups
0,37,Female,United States,IL,No,No,Yes,Often,6-25,No,...,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,20-30
1,44,Male,United States,IN,No,No,No,Rarely,More than 1000,No,...,Don't know,Maybe,No,No,No,No,No,Don't know,No,30-40
2,32,Male,Canada,Not applicable,No,No,No,Rarely,6-25,No,...,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,20-30
3,31,Male,United Kingdom,Not applicable,No,Yes,Yes,Often,26-100,No,...,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,20-30
4,31,Male,United States,TX,No,No,No,Never,100-500,Yes,...,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,20-30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,26,Male,United Kingdom,Not applicable,No,No,Yes,Unknown,26-100,No,...,Somewhat easy,No,No,Some of them,Some of them,No,No,Don't know,No,0-20
1255,32,Male,United States,IL,No,Yes,Yes,Often,26-100,Yes,...,Somewhat difficult,No,No,Some of them,Yes,No,No,Yes,No,20-30
1256,34,Male,United States,CA,No,Yes,Yes,Sometimes,More than 1000,No,...,Somewhat difficult,Yes,Yes,No,No,No,No,No,No,20-30
1257,46,Female,United States,NC,No,No,No,Unknown,100-500,Yes,...,Don't know,Yes,No,No,No,No,No,No,No,30-40
1258,25,Male,United States,IL,No,Yes,Yes,Sometimes,26-100,No,...,Don't know,Maybe,No,Some of them,No,No,No,Don't know,No,0-20

In [46]:
#Now I want the unique values for number of employees
df.no_employees.unique()

array(['6-25', 'More than 1000', '26-100', '100-500', '1-5', '500-1000'],
      dtype=object)

```
After looking at unique values for number of employees I don't need to go and create a separate column as this has been done decently in the answers. Next I'll look for nan values in the dataframe.
```

In [47]:
#Look for null values
df.isnull().sum()

Age                          0
Gender                       0
Country                      0
state                        0
self_employed                0
family_history               0
treatment                    0
work_interfere               0
no_employees                 0
remote_work                  0
tech_company                 0
benefits                     0
care_options                 0
wellness_program             0
seek_help                    0
anonymity                    0
leave                        0
mental_health_consequence    0
phys_health_consequence      0
coworkers                    0
supervisor                   0
mental_health_interview      0
phys_health_interview        0
mental_vs_physical           0
obs_consequence              0
Age_Groups                   0
dtype: int64

In [48]:
#I want to keep state for some analysis within the US. I'm going to update nan to Not Applicalbe
df['state'] = df['state'].fillna('Not applicable')
df.isnull().sum()

Age                          0
Gender                       0
Country                      0
state                        0
self_employed                0
family_history               0
treatment                    0
work_interfere               0
no_employees                 0
remote_work                  0
tech_company                 0
benefits                     0
care_options                 0
wellness_program             0
seek_help                    0
anonymity                    0
leave                        0
mental_health_consequence    0
phys_health_consequence      0
coworkers                    0
supervisor                   0
mental_health_interview      0
phys_health_interview        0
mental_vs_physical           0
obs_consequence              0
Age_Groups                   0
dtype: int64

In [49]:
#for self_employed I want to see the unique values
print(df['self_employed'].value_counts())

No     1109
Yes     142
Name: self_employed, dtype: int64

In [50]:
#Since No has highest amount, I'm going to change nan values to No. Also there are only 18 nan values
df['self_employed'] = df['self_employed'].fillna('No')
df.isnull().sum()

Age                          0
Gender                       0
Country                      0
state                        0
self_employed                0
family_history               0
treatment                    0
work_interfere               0
no_employees                 0
remote_work                  0
tech_company                 0
benefits                     0
care_options                 0
wellness_program             0
seek_help                    0
anonymity                    0
leave                        0
mental_health_consequence    0
phys_health_consequence      0
coworkers                    0
supervisor                   0
mental_health_interview      0
phys_health_interview        0
mental_vs_physical           0
obs_consequence              0
Age_Groups                   0
dtype: int64

In [51]:
#For work_interfere I want to see totals of the different unique values
print(df['work_interfere'].value_counts())

Sometimes    464
Unknown      262
Never        212
Rarely       173
Often        140
Name: work_interfere, dtype: int64

In [52]:
#Changing nan values in work_interfere to Unknown as there are too many nan values to make educated guess
df['work_interfere'] = df['work_interfere'].fillna('Unknown')
df.isnull().sum()

Age                          0
Gender                       0
Country                      0
state                        0
self_employed                0
family_history               0
treatment                    0
work_interfere               0
no_employees                 0
remote_work                  0
tech_company                 0
benefits                     0
care_options                 0
wellness_program             0
seek_help                    0
anonymity                    0
leave                        0
mental_health_consequence    0
phys_health_consequence      0
coworkers                    0
supervisor                   0
mental_health_interview      0
phys_health_interview        0
mental_vs_physical           0
obs_consequence              0
Age_Groups                   0
dtype: int64

In [53]:
#final look before saving to csv
df

,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,remote_work,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,Age_Groups
0,37,Female,United States,IL,No,No,Yes,Often,6-25,No,...,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,20-30
1,44,Male,United States,IN,No,No,No,Rarely,More than 1000,No,...,Don't know,Maybe,No,No,No,No,No,Don't know,No,30-40
2,32,Male,Canada,Not applicable,No,No,No,Rarely,6-25,No,...,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,20-30
3,31,Male,United Kingdom,Not applicable,No,Yes,Yes,Often,26-100,No,...,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,20-30
4,31,Male,United States,TX,No,No,No,Never,100-500,Yes,...,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,20-30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,26,Male,United Kingdom,Not applicable,No,No,Yes,Unknown,26-100,No,...,Somewhat easy,No,No,Some of them,Some of them,No,No,Don't know,No,0-20
1255,32,Male,United States,IL,No,Yes,Yes,Often,26-100,Yes,...,Somewhat difficult,No,No,Some of them,Yes,No,No,Yes,No,20-30
1256,34,Male,United States,CA,No,Yes,Yes,Sometimes,More than 1000,No,...,Somewhat difficult,Yes,Yes,No,No,No,No,No,No,20-30
1257,46,Female,United States,NC,No,No,No,Unknown,100-500,Yes,...,Don't know,Yes,No,No,No,No,No,No,No,30-40
1258,25,Male,United States,IL,No,Yes,Yes,Sometimes,26-100,No,...,Don't know,Maybe,No,Some of them,No,No,No,Don't know,No,0-20

In [54]:
#Now that everything has been updated for now I'm going to save to csv
df.to_csv('mh_survey.csv')